@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


body {
    background-color: #001259;
    font-family: 'Noto Sans Display', sans-serif;
    color: #fff;
}

main {
    text-align: center;
}

#intro {
    height: 100%;
}

h1 {
    width: 70%;
    margin: 40vh auto;
    color: #fff;
    font-weight: 500;
    font-size: 4rem;
}

arr {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

#content {
    height: 100vh;
    padding-top: 2rem;

}

.cnt-split {
    font-style: italic;
    margin-top: 4rem;
    font-size: 1.5rem;
}

.flex-main {
    display: flex;
    justify-content: space-around;
}

.vertical {
    margin-top: 1rem;
    left: 50%;
    position: absolute;
    border: solid white 3px;
    height: 75vh;
}